$gold-color: #cda75c;
$second-color: #222222;
$title-color: #3b3737;
$footer-color: #f0ece4;
$grey-color: #929292;
$white: #fff;
$black: #000;
$first-font: 'Lato';
$second-font: 'Cormorant Garamond';